{   
    "tabWidth": 2,
    "printWidth": 80,
    "parser": "babylon",
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "jsxBracketSameLine": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "src/**/*.tsx",
            "options": {
                "semi": true,
                "singleQuote": false,
            }
        },
        {
            "files": "src/**/*.test.tsx",
            "options": {
                "semi": true
            }
        },
        {
            "files": "src/**/*.scss",
            "options": {
                "parser": "scss",
                "semi": true
            }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        }
    ]
}