@mixin weight($weight: reg) {
  @if $weight == thin {
    font-weight: 100;
  } @else if $weight == light {
    font-weight: 300;
  } @else if $weight == reg {
    font-weight: 400;
  } @else if $weight == med {
    font-weight: 500;
  } @else if $weight == semi {
    font-weight: 600;
  } @else if $weight == bold {
    font-weight: 700;
  } @else {

    @warn 'Unknown `#{$size}` in $type';
  }
}
