@import '../../setup/scss/variables.scss';

.chat-message,
.chat-message__controls__action-button {
  transition: $default-transition;
}

.chat-message {
  border-bottom: 1px solid color(lightgray);
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin-bottom: space(s);
  padding: space(s) space(s) 0 space(s);
  position: relative;

  @include grid-container;

  .chat-message__controls__action-button {
    color: color(interactive);
    display: none;
    margin-left: space(s);
    padding: 0;

    &:hover {
      color: color(black);
    }

    @include font-size($default-size);
  }

  &:hover {
    background: color(offwhite);
    border-radius: space(s);

    .chat-message__controls__action-button {
      display: block;
    }
  }

  &__header {
    display: block;

    @include grid-column(10);
  }

  &__profile-picture {
    border: 1px solid color(accent-color);
    border-radius: 100%;
    height: auto;
    height: space(m);
    min-height: space(m);
    min-width: space(m);
    width: space(m);
  }

  &__username {
    color: color(black);
    display: inline;
    margin: 0;

    @include font-size($small-size);
  }

  &__message {
    display: block;
    margin-bottom: 0;
    position: relative;

    @include font-size($chat-message-size);
  }

  &__time-stamp {
    color: color(darkgray);
    display: inline;
    margin-left: space(s);

    @include font-size($timestamp-size);
  }

  &__controls {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;

    @include grid-column(2);
  }
}
