/* Animations
===========================================
*/
$time--base: 0.24s;

/* Box-shadows
===========================================
*/
$box-shadow: 0 space(base) space(m) 0 rgba(color(gray), 0.5);
$box-shadow--regular: 0 8px space(root) 0 rgba(color(shadow-color), 0.9);
$box-shadow--medium: 0 0 space(m) 0 rgba(color(black), 0.9);
$box-shadow--large: 0 0 space(l) 0 rgba(color(black), 0.9);
$box-shadow--navigation: 0 0 space(l) 0 rgba(color(black), 0.9);
$box-shadow--main-project-image-mobile: 0 12px space(m) 0
  rgba(color(black), 0.5);
$box-shadow--login-component: 0 space(m) space(xxl) 0
  rgba(color(shadow-color), 0.9);

/* special shadows */
$box-shadow--interactive: 0 space(base) space(s) 0
    rgba(color(accent-color), 0.24),
  0 0 space(med) 0 rgba(color(shadow-color), 0.5);
$box-shadow--hover: 0 0 space(m) 0 rgba(color(hover), 0.4);
$box-shadow--hover-small: 0 0 space(s) 0 rgba(color(hover), 0.4);

/* z-index
===========================================
*/
/* Headroom component */
$headroom-component: 9999;

/* for images */
$profile-picture: 9900;

/* for components using Parallax */
$main-image-zindex: 9;
$suplementary-image-1: 10;
$suplementary-image-2: 8;
$bg-image-1: 4;

/* just for the vertical lines */
$animatedLines-z-index: -9999;

/* Transitions
===========================================
*/
$default-transition: all 0.2s ease-in-out;

/* Grid 
===========================================
*/
$neat-grid-monitors: (
  columns: 12,
  gutter: 20px,
  media: map-get($breakpoints, monitors),
  color: rgba(white, 0.9),
  direction: ltr
);

$neat-grid-desktop: (
  media: map-get($breakpoints, xl)
);

$neat-grid-tablet--landscape: (
  media: map-get($breakpoints, l)
);

$neat-grid-tablet: (
  media: map-get($breakpoints, m)
);

$neat-grid-mobile--landscape: (
  media: map-get($breakpoints, s)
);

$neat-grid-mobile: (
  media: map-get($breakpoints, xxs)
);

$neat-grid-mobile--small: (
  media: map-get($breakpoints, xxxs)
);
