@import '../../setup/scss/variables.scss';

.chatroom-control,
.chatroom-control__controls,
.chatroom-control__buttons {
  transition: $default-transition;
}

.chatroom-control__controls {
  color: color(darkblue);
  display: none;
  padding: 0;
}

.chatroom-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: space(s) 0 space(base) 0;

  &:hover {
    color: color(interactive);

    .chatroom-control__controls {
      color: color(interactive);
      display: inline;
    }
  }

  &:active {
    color: color(accent-color);
  }
}
