//colors
$colors: (
  white: #ffffff,
  offwhite: #f9f9f9,
  offsetgray: #efefef,
  lightgray: #edeef3,
  gray: #b2b2b7,
  darkgray: #5c6366,
  black: #1b1a1a,
  background-color: #ffffff,
  darkblue: #0f1a26,
  accent-color: #ff8722,
  shadow-color: #c5c0c0,
  blue-accent-color: #13ccca,
  interactive: #e01563,
  hover: #3eb991,
  active: #e9a820,
  focus: #6ecadc,
  error: #ef1617
);
