//typography

/*
 If an element needs to have a font size for a custom breakpoint, simply drop in the breakpoint value instead of a name as the key, and the mixin will do the work for you. you can include font size and line height like (15px, 1.3)
 */
$fonts: (
  body: #{'nimbus-sans',
  sans-serif},
  header: #{'nimbus-sans-condensed',
  sans-serif}
);

$font-family: map-get($fonts, body) !global;
$font-family--header: map-get($fonts, header);

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--bold: 700;

$letter-spacing: 5rem;

$font-size: 1rem; //16
$line-height: 1.5; //24
$letter-spacing: 0.05rem; //24

/* ========================
*
*   Custom font sizes
*   typography scale = http://www.modularscale.com/
*   mobile: Minor Third
*   tablet--portrait: Augmented Fourth
*   desktop: Golden Ratio scale
*
*   8 total sizes; this set Vertical Rythm and base of the system
*/

$styled-h1: (
  xxxs: 77.397px,
  m: 101.25px,
  xl: 150.778px
);

$styled-h2: (
  xxxs: 64.497px,
  m: 67.5px,
  xl: 93.188px,
  null: 40px
);

$styled-menu-link: (
  xxxs: 14px,
  m: 19px,
  xl: 19px,
  null: 12px
);
/* ========================
*
*   default font sizes
*
*/

$h1: (
  null: 44.79px,
  xxxs: 40px,
  m: 45px,
  xl: 45px
);

$h2: (
  xxxs: 31.104px,
  m: 30px,
  xl: 35.596px,
  null: 40px
);

$h3: (
  xxxs: 25.92px,
  m: 30px,
  xl: 35.596px,
  null: 40px
);

$detail-size: (
  xxxs: 16px,
  m: 16px,
  xl: 16px,
  null: 16px
);

$chat-message-size: (
  xxxs: 16px,
  m: 18px,
  xl: 18px,
  null: 18px
);

$default-size: (
  xxxs: 18px,
  m: 20px,
  xl: 22px,
  null: 22px
);

$small-size: (
  xxxs: 14px,
  m: 14px,
  xl: 16px,
  null: 16px
);

$timestamp-size: (
  xxxs: 14px,
  m: 14px,
  xl: 14px,
  null: 14px
);

$xsmall-size: (
  xxxs: 8.681px,
  m: 8.889px,
  xl: 8.404px,
  null: 22px
);
