@import '../../setup/scss/variables.scss';

.profile-card {
  align-items: center;
  border-bottom: 1px solid color(darkgray);
  display: flex;
  justify-content: flex-start;
  margin-bottom: space(m);
  padding-bottom: space(s);

  &__name {
    margin: 0;
  }

  &__image {
    border: 1px solid color(accent-color);
    border-radius: 100%;
    height: auto;
    margin-right: space(xs);
    max-height: space(m);
    max-width: space(m);
    width: 100%;
  }

  &__button {
    margin-left: auto;
  }
}
